.portfolio__title {
  color: #eef3ff;
  font-size: 48px;
  font-weight: 600;
  margin: 125px 0 65px;
}

.portfolio__categoriesList {
  display: flex;
  justify-content: space-between;
}

.portfolio__category {
  box-shadow: 8px 15px 29px rgba(23, 27, 44, 0.41);
  box-sizing: border-box;
  align-content: center;
  padding: 10px 29px;
  height: 49px;
  border-radius: 7px;
  font-size: 24px;
  color: #eef3ff;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 52px;
  background: none;
  border: none;
  &:hover {
    transform: translateY(-5px);
    background: #292936;
  }
  &_active {
    background: #2d76f9;
    transform: translateY(-5px);
    &:hover {
      background: #2d76f9;
    }
  }
}

.caseList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(378px, 0fr));
  gap: 31px 49px;
}

.case {
  width: 387px;
  height: 378px;
  box-sizing: border-box;
  background: center center/cover no-repeat;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  padding: 19px 20px;
  border-radius: 12px;
  position: relative;
  .mobile_wrapper {
    display: none;
  }
  .header_text {
    background: url("../../assets/icons/case-label.svg") center center/cover
      no-repeat;
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 5px;
    text-align: center;
    span {
      font-size: 24px;
      font-weight: 600;
      color: #fff;
    }
    p {
      display: none;
    }
    img {
      display: none;
    }
  }
}

@media (max-width: 1319px) {
  main {
    padding: 0 30px;
  }

  .portfolio__categoriesList {
    flex-wrap: wrap;
  }
}

@media (max-width: 872px) {
  main {
    padding: 0 25px;
  }

  .caseList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .portfolio__categoriesList {
    justify-content: space-evenly;
    margin-bottom: 25px;
  }

  .portfolio__category {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  main {
    padding: 0 24px;
  }

  .portfolio__title {
    margin-top: 0;
    font-size: 21px;
    margin-bottom: 47px;
    font-family: "Rubik";
    font-weight: 500;
  }

  .portfolio__categoriesList {
    justify-content: space-between;
    margin-bottom: 28px;
  }

  .portfolio__category {
    margin-bottom: 17px;
    width: 157px;
    font-size: 12px;
    padding: 10px 2px;
    line-height: 100%;
    height: 33px;
    font-family: "Open Sans";
    &:hover {
      transform: translateY(0px);
      background: #292936;
    }
    &_active {
      background: #2d76f9;
      transform: translateY(0px);
      &:hover {
        background: #2d76f9;
      }
    }
  }

  .case {
    width: 327px;
    height: 320px;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 22px 29px;
    .mobile_wrapper {
      display: block;
      position: absolute;
      background: linear-gradient(
        to bottom,
        rgba(49, 51, 65, 0),
        rgb(9, 11, 33) 100%
      );
      width: 327px;
      height: 320px;
      top: 0;
      left: 0;
      border-radius: 11px;
      z-index: 0;
    }
    .header_text {
      z-index: 1;
      background: none;
      display: block;
      width: auto;
      height: auto;
      left: 5px;
      span {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        font-family: "Rubik";
      }
      p {
        font-family: "Open Sans";
        display: block;
        margin: 0;
        margin-top: 6px;
        font-size: 13px;
        color: #fff;
        text-align: left;
      }
      img {
        display: block;
        margin-bottom: 7px;
      }
    }
  }
}
