.portfolio__title {
  color: #eef3ff;
  font-size: 48px;
  font-weight: 600;
  margin: 125px 0 65px;
}

.portfolio__categoriesList {
  display: flex;
  justify-content: space-between;
}

.portfolio__category {
  box-shadow: 8px 15px 29px rgba(23, 27, 44, 0.41);
  box-sizing: border-box;
  align-content: center;
  padding: 10px 29px;
  height: 49px;
  border-radius: 7px;
  font-size: 24px;
  color: #eef3ff;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 52px;
  background: none;
  border: none;
  &:hover {
    transform: translateY(-5px);
    background: #292936;
  }
  &_active {
    background: #2d76f9;
    transform: translateY(-5px);
    &:hover {
      background: #2d76f9;
    }
  }
}

.caseList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(378px, 0fr));
  gap: 31px 53px;
}

.case {
  width: 387px;
  height: 378px;
  box-sizing: border-box;
  background: center center/cover no-repeat;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  padding: 19px 13px;
  border-radius: 12px;
  div {
    background: url("../../assets/icons/case-label.svg") center center/cover
      no-repeat;
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 5px;
    text-align: center;
    span {
      font-size: 24px;
      font-weight: 600;
      color: #fff;
    }
  }
}

@media (max-width: 1319px) {
  main {
    padding: 0 30px;
  }

  .portfolio__categoriesList {
    flex-wrap: wrap;
  }
}

@media (max-width: 872px) {
  .caseList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .portfolio__categoriesList {
    justify-content: space-evenly;
    margin-bottom: 25px;
  }

  .portfolio__category {
    margin-bottom: 25px;
  }
}
