nav {
  color: #9aa8ba;
  cursor: default;
  font-size: 18px;

  a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;
    transition: 0.15s;
    &:hover {
      border-bottom: 1px solid #c4d2e3;
      color: #c4d2e3;
    }
  }

  .nav__item_last {
    color: #c4d2e3;
    cursor: default;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}

@media (max-width: 1319px) {
  nav {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  nav {
    padding: 41px 25px 29px;
    font-size: 13px;
    font-family: "Rubik";
    font-weight: 300;
  }
}
