header {
  padding: 68px 0;
  display: flex;
  align-items: center;
}

.img {
  width: 131px;
}

.header__list {
  margin-left: 191px;
  display: flex;
  flex-wrap: wrap;
  a {
    margin-right: 60.5px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 150%;
    transition: 0.15s;
    &:hover {
      color: #cfcfcf;
    }
  }
}
