form {
  padding-bottom: 96px;
  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    margin-top: 100px;

    img {
      display: none;
    }

    legend {
      color: #eef3ff;
      font-size: 48px;
      font-weight: 600;
      margin-bottom: 85px;
    }

    div {
      display: inline-block;
      width: 385px;
      margin-left: 42px;
      position: relative;

      div {
        position: absolute;
        top: 68px;
        left: 0;
      }

      &:nth-child(3) {
        margin-left: 0;
      }

      input {
        box-sizing: border-box;
        width: 100%;
        background: none;
        border-width: 20px;
        border-style: solid;
        border-image: url("../../assets/icons/email-input-border.png") 30;
        border-radius: 8px;
        height: 61px;
        font-size: 24px;
        padding: 12px 0 13px;
        color: #eff3ff;
        &:focus-visible {
          outline: none;
        }
      }

      label {
        position: relative;
        span {
          position: absolute;
          top: calc(-125% - 9px);
          left: 24px;
          padding: 0 5px;
          font-size: 18px;
          color: #eff3ff;
          font-weight: 300;
        }
      }
    }
  }

  p {
    display: none;
  }

  button {
    background: #2d76f9;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    padding: 20px 45px;
    display: block;
    margin: 0 auto;
    border-radius: 85px;
    border: none;
    transition: 0.15s;
    cursor: pointer;
    &:hover {
      background: #2062db;
    }
  }

  .error_message {
    color: #fff;
    margin-left: 0;
  }

  .error_sentmessage {
    color: #fff;
    text-align: center;
    margin-top: 25px;
  }
}

.large_input {
  display: block;
  margin: 37px 0 45px;
  box-sizing: border-box;
  background: none;
  border: 1px solid transparent;

  border-image: url("../../assets/icons/textarea-border.png") 1;
  border-radius: 8px;
  height: 139px;
  font-size: 24px;
  color: #eff3ff;
  position: relative;
  max-width: 100%;
  span {
    position: absolute;
    top: -9px;
    left: 30px;
    padding: 0 5px;
    font-size: 18px;
    color: #eff3ff;
    font-weight: 300;
  }
  textarea {
    box-sizing: border-box;
    color: #eff3ff;
    font-size: 18px;
    padding: 15px 12px 7px;
    width: 100% !important;
    height: 100% !important;
    background: none;
    border: none;
    &:focus-visible {
      outline: none;
    }
  }
}

.checkbox {
  position: absolute;
  width: 25px;
  height: 25px;
  background: none;
  border: 1px solid #eff3ff;
  margin-left: -37px;
  border-radius: 2px;

  &_input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &_label {
    padding-left: 37px;
    display: flex;
    align-items: center;
    color: #eff3ff;
    margin-bottom: 67px;
    font-size: 18px;
    font-weight: light;
    font-weight: 300;
  }
}

.checkbox_input:checked + .checkbox {
  background: url("../../assets/icons/checkbox.svg") center center/cover
    no-repeat;
  background-size: 60%;
}

.checkbox_input:focus + .checkbox {
  border: 1px solid #cdcfd5;
}

.input-name {
  border-image: url("../../assets/icons/name-input-border.png") 30;
}

.input-phone {
  border-image: url("../../assets/icons/phone-input-border.png") 30;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 1px solid #eff3ff;
  -webkit-text-fill-color: #eff3ff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media (max-width: 1319px) {
  form {
    padding: 0 30px;

    & fieldset div {
      width: 100%;
      margin-left: 0;
      margin-bottom: 37px;
      input {
        border-image: none !important;
        border: 1px solid #eef3ff;
        padding: 0 10px;
      }
      span {
        top: -5px !important;
        left: 10px !important;
      }
    }

    & fieldset .large_input {
      width: 100%;
      margin-top: 0;
      margin-left: 0;
      margin-bottom: 37px;
      border-image: none !important;
      textarea {
        border-radius: 8px;
        border: 1px solid #eef3ff;
        padding: 10px 10px;
      }
      span {
        top: 11px !important;
        left: 10px !important;
      }
    }

    label span {
      transition: 0.15s;
    }

    .input_has_content + span {
      background: green;
      display: none;
    }
  }
}

@media (max-width: 767px) {
  form {
    padding: 24px 25px 31px;
    background: #20212c;
    margin-top: 48px;

    fieldset {
      legend {
        float: inline-start;
        font-size: 24px;
        margin-left: 28px;
        margin-bottom: 0;
        font-family: "Rubik";
        font-weight: 500;
      }

      img {
        display: block;
        float: inline-start;
        margin-bottom: 33px;
      }

      div {
        margin-bottom: 22px;
        font-family: "Open Sans";
      }

      .checkbox_label {
        display: none;
      }

      button {
        padding: 20px 45px;
      }

      div {
        input {
          font-size: 18px;
        }
        span {
          top: 0px !important;
          left: 10px !important;
        }
      }
      .large_input {
        textarea {
          font-family: "Open Sans";
          font-style: normal;
          font-size: 18px;
          padding-top: 13px;
        }
        font-family: "Open Sans";
        font-style: normal;
      }
    }
    button {
      margin-bottom: 26px;
      font-family: "Open Sans";
    }
    p {
      display: block;
      text-align: center;
      color: #eef3ff;
      margin-bottom: 31px;
      font-family: "Open Sans";
    }
  }
}
