form {
  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    margin-top: 90px;

    legend {
      color: #eef3ff;
      font-size: 48px;
      font-weight: 600;
      margin-bottom: 85px;
    }

    div {
      display: inline-block;
      width: 385px;
      margin-left: 42px;
      &:nth-child(2) {
        margin-left: 0;
      }

      &:nth-child(5) {
        margin-left: 0;
      }

      input {
        box-sizing: border-box;
        width: 100%;
        background: none;
        border-width: 20px;
        border-style: solid;
        border-image: url("../../assets/icons/email-input-border.png") 30;
        border-radius: 8px;
        height: 61px;
        font-size: 24px;
        padding: 12px 0 13px;
        color: #eff3ff;
        &:focus-visible {
          outline: none;
        }
      }

      label {
        position: relative;
        span {
          position: absolute;
          top: calc(-125% - 9px);
          left: 24px;
          padding: 0 5px;
          font-size: 18px;
          color: #eff3ff;
        }
      }
    }
  }

  button {
    background: #2d76f9;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    padding: 20px 45px;
    display: block;
    margin: 0 auto;
    border-radius: 85px;
    border: none;
    margin-bottom: 96px;
    transition: 0.15s;
    cursor: pointer;
    &:hover {
      background: #2062db;
    }
  }
}

.large_input {
  display: block;
  margin: 37px 0 45px;
  box-sizing: border-box;
  background: none;
  border: 1px solid transparent;

  border-image: url("../../assets/icons/textarea-border.png") 1;
  border-radius: 8px;
  height: 139px;
  font-size: 24px;
  color: #eff3ff;
  position: relative;
  max-width: 100%;
  span {
    position: absolute;
    top: -9px;
    left: 30px;
    padding: 0 5px;
    font-size: 18px;
    color: #eff3ff;
  }
  textarea {
    box-sizing: border-box;
    color: #eff3ff;
    font-size: 18px;
    padding: 15px 12px 7px;
    width: 100% !important;
    height: 100% !important;
    background: none;
    border: none;
    &:focus-visible {
      outline: none;
    }
  }
}

.checkbox {
  position: absolute;
  width: 25px;
  height: 25px;
  background: none;
  border: 1px solid #eff3ff;
  margin-left: -37px;
  border-radius: 2px;

  &_input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &_label {
    padding-left: 37px;
    display: flex;
    align-items: center;
    color: #eff3ff;
    margin-bottom: 67px;
    font-size: 18px;
    font-weight: light;
  }
}

.checkbox_input:checked + .checkbox {
  background: url("../../assets/icons/checkbox.svg") center center/cover
    no-repeat;
  background-size: 60%;
}

.checkbox_input:focus + .checkbox {
  border: 1px solid #cdcfd5;
}

.input-name {
  border-image: url("../../assets/icons/name-input-border.png") 30;
}

.input-phone {
  border-image: url("../../assets/icons/phone-input-border.png") 30;
}
